RESTIC_REPOSITORY=op://homelab/restic/repository
RESTIC_PASSWORD=op://homelab/restic/password
AWS_ACCESS_KEY_ID=op://homelab/restic/aws_access_key_id
AWS_SECRET_ACCESS_KEY=op://homelab/restic/aws_secret_access_key
AWS_ENDPOINT=op://homelab/restic/aws_endpoint
AWS_DEFAULT_REGION=op://homelab/restic/aws_default_region
