apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflared
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudflared-secret
    creationPolicy: Owner
    template:
      data:
        credentials.json: "{{ .CLOUDFLARED_TUNNEL_CREDENTIALS }}"
        tunnelID: "{{ .CLOUDFLARED_TUNNEL_ID }}"
  dataFrom:
    - extract:
        key: cloudflared
