apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snmp-exporter
  namespace: observability
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: snmp-exporter
    configmapReload:
      enabled: false
    envFrom:
      - secretRef:
          name: snmp-truenas-secret
    config: |
      auths:
        public_v2:
          community: public
          security_level: noAuthNoPriv
          version: 2

      modules:
        if_mib:
          walk:
            - 1.3.6.1.2.1.2.2
          lookups:
            - source_indexes: [ifIndex]
              lookup: ifDescr
    serviceMonitor:
      enabled: true
      params:
        - name: unifi-basic
          auth: [public_v2]
          module: [if_mib]
          target: unifi.hypyr.space
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance
