POSTGRES_DB=forgejo
POSTGRES_USER=forgejo
POSTGRES_PASSWORD=op://homelab/forgejo/FORGEJO_DB_PASSWORD
FORGEJO__security__SECRET_KEY=op://homelab/forgejo/FORGEJO_SECRET_KEY
FORGEJO__security__INTERNAL_TOKEN=op://homelab/forgejo/FORGEJO_INTERNAL_TOKEN
FORGEJO__database__PASSWD=op://homelab/forgejo/FORGEJO_DB_PASSWORD
FORGEJO__service__ENABLE_NOTIFY_MAIL=true
FORGEJO__mailer__ENABLED=true
FORGEJO__mailer__PROTOCOL=smtp
FORGEJO__mailer__SMTP_ADDR=smtp-relay
FORGEJO__mailer__SMTP_PORT=2500
FORGEJO__mailer__FROM={{ op://homelab/smtp-relay/SMTP_RELAY_USERNAME }}
ROOT_URL=https://git.in.hypyr.space
DOMAIN=git.in.hypyr.space
SSH_PORT=3022
# CLOUDFLARE_API_TOKEN is set via Docker Swarm secret, not injected via 1password
