POSTGRES_DB=forgejo
POSTGRES_USER=forgejo
POSTGRES_PASSWORD=op://homelab/forgejo/postgres_password
ROOT_URL=https://git.in.hypyr.space
DOMAIN=git.in.hypyr.space
SSH_PORT=3022
CLOUDFLARE_API_TOKEN=op://homelab/cloudflare/CLOUDFLARE_API_TOKEN
