---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: network-attachment-definitions.k8s.cni.cncf.io
spec:
  group: k8s.cni.cncf.io
  scope: Namespaced
  names:
    plural: network-attachment-definitions
    singular: network-attachment-definition
    shortNames:
      - net-attach-def
      - nad
    kind: NetworkAttachmentDefinition
    listKind: NetworkAttachmentDefinitionList
  versions:
    - name: v1
      served: true
      storage: true
      additionalPrinterColumns:
        - name: Plugin
          type: string
          jsonPath: .spec.config
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              properties:
                config:
                  type: string
              required:
                - config
