services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.0.2@sha256:4c364ef96aaddac7ec4c85f5e5f31c3394d35f631381ccbbf93f18fd26ac7cba
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M
    volumes:
      - /mnt/apps01/appdata/uptime-kuma:/app/data
    labels:
      caddy: status.in.hypyr.space
      caddy.reverse_proxy: "{{upstreams 3001}}"
      caddy.tls.dns: "cloudflare {env.CLOUDFLARE_API_TOKEN}"
    networks:
      proxy_network:
        aliases:
          - uptime-kuma

networks:
  proxy_network:
    external: true
