services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    restart: unless-stopped
    volumes:
      - /mnt/apps01/appdata/uptime-kuma:/app/data
    labels:
      caddy: status.in.hypyr.space
      caddy.reverse_proxy: "{{upstreams 3001}}"
    networks:
      - proxy_network

networks:
  proxy_network:
    external: true
