apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: kyverno
spec:
  interval: 10m
  chart:
    spec:
      chart: kyverno
      version: 3.2.6
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: kyverno
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    replicaCount: 3
    admissionController:
      failurePolicy: Fail
    backgroundController:
      replicas: 2
    reportsController:
      replicas: 2
    metricsServiceMonitor:
      enabled: true
    serviceMonitor:
      enabled: true
    podSecurityStandard: restricted
