services:
  op-connect-api:
    image: 1password/connect-api:1.7.3
    hostname: op-connect-api
    restart: unless-stopped
    volumes:
      - op-connect-data:/home/opuser/.op/data
      - /mnt/apps01/secrets/op/1password-credentials.json:/home/opuser/.op/1password-credentials.json:ro
    environment:
      OP_SESSION: /home/opuser/.op/1password-credentials.json
      OP_BUS_PORT: 11220
      OP_BUS_PEERS: op-connect-sync:11221
      OP_HTTP_PORT: 8080
      OP_LOG_LEVEL: ${OP_LOG_LEVEL:-info}
    secrets:
      - CLOUDFLARE_API_TOKEN
    labels:
      caddy: op-connect.in.hypyr.space
      caddy.reverse_proxy: "op-connect-api:8080"
      caddy.tls.dns: "cloudflare {env.CLOUDFLARE_API_TOKEN}"
    networks:
      op-connect:
        aliases:
          - op-connect-api
      proxy_network:
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  op-connect-sync:
    image: 1password/connect-sync:1.7.3
    hostname: op-connect-sync
    restart: unless-stopped
    volumes:
      - op-connect-data:/home/opuser/.op/data
      - /mnt/apps01/secrets/op/1password-credentials.json:/home/opuser/.op/1password-credentials.json:ro
    environment:
      OP_SESSION: /home/opuser/.op/1password-credentials.json
      OP_HTTP_PORT: 8081
      OP_BUS_PORT: 11221
      OP_BUS_PEERS: op-connect-api:11220
      OP_LOG_LEVEL: ${OP_LOG_LEVEL:-info}
    networks:
      op-connect:
        aliases:
          - op-connect-sync
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8081/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  op-connect:
    driver: overlay
    attachable: true
  proxy_network:
    external: true

volumes:
  op-connect-data:
    driver: local

secrets:
  CLOUDFLARE_API_TOKEN:
    external: true
