---
- name: Install NFS client
  ansible.builtin.apt:
    name: nfs-common
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Create NFS mount points
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "0755"
  loop: "{{ nfs_mounts }}"

- name: Mount NFS shares
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    fstype: nfs
    opts: "{{ item.opts }}"
    state: mounted
  loop: "{{ nfs_mounts }}"
