apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: kubernetes
spec:
  version: $(KUBERNETES_VERSION)
  concurrency: 1
  exclusive: true
  serviceAccountName: system-upgrade-controller
  secrets:
    - name: system-upgrade-controller
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
  upgrade:
    image: ghcr.io/siderolabs/talosctl@sha256:32ab841d0c8fe9e347b5bc105eedb15a99e96862bc7481448c2f8bd662018260:$(TALOS_VERSION)
    args:
      - --nodes=$(SYSTEM_UPGRADE_NODE_NAME)
      - upgrade-k8s
      - --to=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
