apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos
spec:
  version: $(TALOS_VERSION)
  concurrency: 1
  exclusive: true
  serviceAccountName: system-upgrade-controller
  secrets:
    - name: system-upgrade-controller
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  nodeSelector:
    matchExpressions:
      - key: kubernetes.io/os
        operator: In
        values: ["linux"]
  upgrade:
    image: ghcr.io/jfroy/tnu:0.4.4@sha256:b3f75c7bab94daff74b048410665fffed0a2278e0071ef88e0cf24ba29d48cfc
    args:
      - --node=$(SYSTEM_UPGRADE_NODE_NAME)
      - --tag=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
