apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: kube-prometheus-stack
  namespace: observability
spec:
  groups:
    - name: alertmanager-heartbeat
      rules:
        - alert: AlertmanagerHeartbeatMissing
          expr: absent(ALERTMANAGER_HEARTBEAT_URL)
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: Alertmanager heartbeat URL missing from secret
