apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: prowlarr-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: prowlarr
