PLEX_CLAIM=op://homelab/plex-stack/claim_token
SONARR_API_KEY=op://homelab/sonarr/api_key
RADARR_API_KEY=op://homelab/radarr/api_key
PROWLARR_API_KEY=op://homelab/prowlarr/api_key
SABNZBD_API_KEY=op://homelab/sabnzbd/api_key
