GF_SECURITY_ADMIN_USER={{ op://homelab/monitoring-stack/grafana_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ op://homelab/monitoring-stack/grafana_admin_password }}
GF_DATABASE_USER=homelab
GF_DATABASE_PASSWORD={{ op://homelab/postgres-shared/password }}
GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp-relay:2500
GF_SMTP_FROM_ADDRESS={{ op://homelab/smtp-relay/SMTP_RELAY_USERNAME }}
GF_SMTP_FROM_NAME=Grafana
