GF_SECURITY_ADMIN_USER={{ op://homelab/monitoring-stack/grafana_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ op://homelab/monitoring-stack/grafana_admin_password }}
GF_DATABASE_USER=homelab
GF_DATABASE_PASSWORD={{ op://homelab/postgres-shared/password }}
