version: "3.9"

services:
  log:
    image: goharbor/harbor-log:v2.14.1
    restart: unless-stopped
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/log/rsyslog_docker.conf:/etc/rsyslog.d/rsyslog_docker.conf:ro
      - ${HARBOR_CONFIG_PATH}/common/config/log/logrotate.conf:/etc/logrotate.d/logrotate.conf:ro
      - ${HARBOR_LOG_PATH}:/var/log/docker
    networks: [harbor_internal]

  redis:
    image: goharbor/redis-photon:v2.14.1
    restart: unless-stopped
    volumes:
      - ${HARBOR_DATA_PATH}/redis:/var/lib/redis
    depends_on: [log]
    networks: [harbor_internal]

  postgresql:
    image: goharbor/harbor-db:v2.14.1
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - ${HARBOR_DATA_PATH}/database:/var/lib/postgresql/data
    shm_size: 1g
    depends_on: [log]
    networks: [harbor_internal]

  registry:
    image: goharbor/registry-photon:v2.14.1
    restart: unless-stopped
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/registry:/etc/registry:ro
      - ${HARBOR_DATA_PATH}/registry:/storage
      - ${HARBOR_CONFIG_PATH}/common/config/shared/trust-certificates:/harbor_cust_cert:ro
      - ${HARBOR_CONFIG_PATH}/common/secret/registry/root.crt:/etc/registry/root.crt
    depends_on: [log, redis]
    networks: [harbor_internal]

  registryctl:
    image: goharbor/harbor-registryctl:v2.14.1
    restart: unless-stopped
    environment:
      CORE_SECRET: "${HARBOR_CORE_SECRET}"
      JOBSERVICE_SECRET: "${HARBOR_JOBSERVICE_SECRET}"
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/registryctl/config.yml:/etc/registryctl/config.yml:ro
      - ${HARBOR_CONFIG_PATH}/common/config/shared/trust-certificates:/harbor_cust_cert:ro
      - ${HARBOR_DATA_PATH}/registry:/storage
    depends_on: [log, registry]
    networks: [harbor_internal]

  core:
    image: goharbor/harbor-core:v2.14.1
    restart: unless-stopped
    environment:
      HARBOR_ADMIN_PASSWORD: "${HARBOR_ADMIN_PASSWORD}"
      CORE_SECRET: "${HARBOR_CORE_SECRET}"
      JOBSERVICE_SECRET: "${HARBOR_JOBSERVICE_SECRET}"
      DATABASE_TYPE: postgresql
      DATABASE_HOST: postgresql
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: "${POSTGRES_PASSWORD}"
      DATABASE_DATABASE: registry
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/core/app.conf:/etc/core/app.conf:ro
      - ${HARBOR_CONFIG_PATH}/common/secret/core/private_key.pem:/etc/core/private_key.pem:ro
      - ${HARBOR_CONFIG_PATH}/common/secret/keys/secretkey:/etc/core/key:ro
      - ${HARBOR_CONFIG_PATH}/common/config/shared/trust-certificates:/harbor_cust_cert:ro
      - ${HARBOR_DATA_PATH}/ca_download:/etc/core/ca
      - ${HARBOR_DATA_PATH}:/data
    depends_on: [log, postgresql, redis, registry, registryctl]
    networks: [harbor_internal]

  portal:
    image: goharbor/harbor-portal:v2.14.1
    restart: unless-stopped
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/portal/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on: [log]
    networks: [harbor_internal]

  jobservice:
    image: goharbor/harbor-jobservice:v2.14.1
    restart: unless-stopped
    environment:
      CORE_SECRET: "${HARBOR_CORE_SECRET}"
      JOBSERVICE_SECRET: "${HARBOR_JOBSERVICE_SECRET}"
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/jobservice/config.yml:/etc/jobservice/config.yml:ro
      - ${HARBOR_DATA_PATH}/job_logs:/var/log/jobs
      - ${HARBOR_CONFIG_PATH}/common/config/shared/trust-certificates:/harbor_cust_cert:ro
    depends_on: [log, core]
    networks: [harbor_internal]

  proxy:
    image: goharbor/nginx-photon:v2.14.1
    restart: unless-stopped
    environment:
      CLOUDFLARE_API_TOKEN: "${CLOUDFLARE_API_TOKEN}"
    volumes:
      - ${HARBOR_CONFIG_PATH}/common/config/nginx:/etc/nginx:ro
      - ${HARBOR_CONFIG_PATH}/common/config/shared/trust-certificates:/harbor_cust_cert:ro
    depends_on: [log, core, portal, jobservice]
    networks:
      - harbor_internal
      - proxy_network
    labels:
      caddy: harbor.in.hypyr.space
      caddy.tls.dns: cloudflare {env.CLOUDFLARE_API_TOKEN}
      caddy.reverse_proxy: "{{upstreams 8080}}"

networks:
  harbor_internal:
    driver: bridge
  proxy_network:
    external: true
