apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tqm
spec:
  suspend: true  # keep aligned with qbittorrent until VPN finalized
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      tqm:
        type: cronjob
        cronjob:
          schedule: "@hourly"
          timeZone: &timeZone America/Chicago
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/tqm
              tag: v1.4.3
            env:
              TZ: *timeZone
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: [ALL]
        pod:
          restartPolicy: OnFailure
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1701
        runAsGroup: 1702
        fsGroup: 1702
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [65536]
    persistence:
      config:
        type: configMap
        name: tqm-configmap
        globalMounts:
          - path: /config
            readOnly: true
      media:
        type: nfs
        server: barbary.hypyr.space
        path: /mnt/data01/data
        globalMounts:
          - path: /data
            readOnly: true
