apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: plex-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: plex
