apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: smtp-relay
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: smtp-relay-secret
    creationPolicy: Owner
    template:
      data:
        SMTP_HOST: "{{ .SMTP_HOST }}"
        SMTP_USERNAME: "{{ .SMTP_USERNAME }}"
        SMTP_PASSWORD: "{{ .SMTP_PASSWORD }}"
  dataFrom:
    - extract:
        key: smtp-relay
