apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smtp-relay
  namespace: networking
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      smtp-relay:
        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/postfix-relay
              tag: 5.0.5
            envFrom:
              - secretRef:
                  name: smtp-relay-secret
            env:
              SMTP_PORT: "587"
              SMTP_TLS: "true"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
    service:
      app:
        ports:
          smtp:
            port: 2525
