services:
  postgresql:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - /mnt/apps01/secrets/authentik/postgres.env
    volumes:
      - /mnt/data01/appdata/authentik/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: unless-stopped

  authentik-server:
    image: ghcr.io/goauthentik/server:2024.12
    restart: unless-stopped
    env_file:
      - /mnt/apps01/secrets/authentik/authentik.env
    depends_on:
      - postgresql
      - redis
    labels:
      caddy: auth.in.hypyr.space
      caddy.reverse_proxy: "{{upstreams 9000}}"

  authentik-worker:
    image: ghcr.io/goauthentik/server:2024.12
    restart: unless-stopped
    env_file:
      - /mnt/apps01/secrets/authentik/authentik.env
    command: worker
    depends_on:
      - postgresql
      - redis
