AUTHENTIK_SECRET_KEY=op://homelab/authentik/secret_key
AUTHENTIK_BOOTSTRAP_EMAIL=op://homelab/authentik/bootstrap_email
AUTHENTIK_BOOTSTRAP_PASSWORD=op://homelab/authentik/bootstrap_password
AUTHENTIK_POSTGRESQL__PASSWORD=op://homelab/authentik/postgres_password
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_COOKIE_DOMAIN=.in.hypyr.space
AUTHENTIK_HOST=https://auth.in.hypyr.space
CLOUDFLARE_API_TOKEN=op://homelab/cloudflare/api_token
