apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: kromgo
  namespace: observability
spec:
  parentRefs:
    - name: internal
      namespace: kube-system
      sectionName: https
  hostnames:
    - kromgo.hypyr.space
  rules:
    - backendRefs:
        - name: kromgo
          port: 80
