apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale
  namespace: networking
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      tailscale:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          sysctl:
            image:
              repository: busybox
              tag: 1.37.0
            command: ["sh", "-c", "sysctl -w net.ipv4.ip_forward=1 net.ipv6.conf.all.forwarding=1"]
            securityContext:
              privileged: true
        containers:
          app:
            image:
              repository: ghcr.io/tailscale/tailscale
              tag: v1.64.1
            env:
              TS_AUTHKEY: ""
              TS_STATE_DIR: /var/lib/tailscale
              TS_USERSPACE: "false"
              TS_KUBE_SECRET: tailscale-state
              TS_ROUTES: 10.0.5.0/24,10.0.48.0/24
              TS_HOSTNAME: tailscale-gateway
              TS_EXTRA_ARGS: "--advertise-exit-node"
            envFrom:
              - secretRef:
                  name: tailscale-secret
            securityContext:
              capabilities:
                add: [NET_ADMIN, NET_RAW]
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
        pod:
          volumes:
            - name: state
              emptyDir: {}
        serviceAccount:
          name: tailscale
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        type: ClusterIP
        ports:
          https:
            port: 443
