apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smartctl-exporter
  namespace: observability
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: smartctl-exporter
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: smartctl-exporter
    prometheusRules:
      enabled: false
    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
