WOODPECKER_HOST=https://ci.in.hypyr.space
WOODPECKER_AGENT_SECRET=op://homelab/woodpecker/WOODPECKER_AGENT_SECRET
WOODPECKER_GITEA_URL=https://git.in.hypyr.space
WOODPECKER_GITEA_CLIENT=op://homelab/woodpecker/WOODPECKER_OAUTH_CLIENT
WOODPECKER_GITEA_SECRET=op://homelab/woodpecker/WOODPECKER_OAUTH_SECRET
WOODPECKER_ADMIN=op://homelab/woodpecker/WOODPECKER_ADMIN
CLOUDFLARE_API_TOKEN=op://homelab/cloudflare/CLOUDFLARE_API_TOKEN
