WOODPECKER_HOST=https://ci.in.hypyr.space
WOODPECKER_AGENT_SECRET=op://homelab/woodpecker/agent_secret
WOODPECKER_GITEA_URL=https://git.in.hypyr.space
WOODPECKER_GITEA_CLIENT=op://homelab/woodpecker/gitea_client
WOODPECKER_GITEA_SECRET=op://homelab/woodpecker/gitea_secret
WOODPECKER_ADMIN=op://homelab/woodpecker/admin_username
CLOUDFLARE_API_TOKEN=op://homelab/cloudflare/api_token
