apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: spegel
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: oci://ghcr.io/spegel-org/helm-charts/spegel
      version: 0.6.0
      reconcileStrategy: ChartVersion
  values:
    grafanaDashboard:
      enabled: true
    serviceMonitor:
      enabled: true
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    service:
      registry:
        hostPort: 29999
