apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-unifi
  namespace: networking
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      external-dns-unifi:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          webhook:
            image:
              repository: ghcr.io/kashalls/external-dns-unifi-webhook
              tag: v0.7.0@sha256:a5503c1c61e3a8f6d66a0172fca6fb9affbe1f527ae6360ccf5ff5f0bf181c6e
            env:
              UNIFI_HOST: https://192.168.1.1
              UNIFI_SKIP_TLS_VERIFY: true
            envFrom:
              - secretRef:
                  name: external-dns-unifi-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            resources: &resources
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            restartPolicy: Always
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
        containers:
          app:
            image:
              repository: registry.k8s.io/external-dns/external-dns
              tag: v0.20.0@sha256:ddc7f4212ed09a21024deb1f470a05240837712e74e4b9f6d1f2632ff10672e7
            args:
              - --domain-filter=hypyr.space
              - --events
              - --interval=1m
              - --log-format=text
              - --log-level=info
              - --policy=sync
              - --provider=webhook
              - --registry=txt
              - --source=gateway-httproute
              - --source=service
              - --txt-owner-id=k8s
              - --txt-prefix=k8s.
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port2 7979
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources: *resources
            securityContext: *securityContext
        serviceAccount:
          name: external-dns-unifi
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1701
        runAsGroup: 1702
    service:
      app:
        ports:
          http:
            port: *port2
    serviceMonitor:
      app:
        endpoints:
          - port: http
