apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: onepassword-store
  namespace: external-secrets
spec:
  interval: 10m
  chart:
    spec:
      chart: oci://ghcr.io/bjw-s-labs/helm/app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
  values:
    controller:
      type: deployment
      replicas: 1
    image:
      repository: 1password/connect-api
      tag: 1.7.3
    service:
      main:
        ports:
          http:
            port: 8080
    env:
      - name: OP_CONNECT_HOST
        value: http://onepassword.external-secrets.svc.cluster.local
      - name: OP_SESSION
        valueFrom:
          secretKeyRef:
            name: onepassword-secret
            key: token
      - name: OP_CREDENTIALS
        valueFrom:
          secretKeyRef:
            name: onepassword-secret
            key: 1password-credentials.json
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    ingress:
      main:
        enabled: false
    persistence:
      data:
        enabled: false
    podDisruptionBudget:
      enabled: false
    serviceMonitor:
      enabled: false
