apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: unpoller
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: unpoller-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: unpoller
