HOMEPAGE_VAR_AUTHENTIK_API_KEY={{ op://homelab/authentik-stack/homepage_api_key }}
HOMEPAGE_VAR_GRAFANA_USER={{ op://homelab/monitoring-stack/grafana_admin_user }}
HOMEPAGE_VAR_GRAFANA_PASSWORD={{ op://homelab/monitoring-stack/grafana_admin_password }}
HOMEPAGE_VAR_PLEX_API_KEY={{ op://homelab/homepage-media/plex_api_key }}
HOMEPAGE_VAR_SONARR_API_KEY={{ op://homelab/homepage-media/sonarr_api_key }}
HOMEPAGE_VAR_RADARR_API_KEY={{ op://homelab/homepage-media/radarr_api_key }}
HOMEPAGE_VAR_PROWLARR_API_KEY={{ op://homelab/homepage-media/prowlarr_api_key }}
HOMEPAGE_VAR_SABNZBD_API_KEY={{ op://homelab/homepage-media/sabnzbd_api_key }}
HOMEPAGE_VAR_BAZARR_API_KEY={{ op://homelab/homepage-media/bazarr_api_key }}
HOMEPAGE_VAR_TAUTULLI_API_KEY={{ op://homelab/homepage-media/tautulli_api_key }}
HOMEPAGE_VAR_SEERR_API_KEY={{ op://homelab/seerr/API_KEY }}
