HOMEPAGE_VAR_AUTHENTIK_API_KEY={{ op://homelab/authentik-stack/homepage_api_key }}
HOMEPAGE_VAR_GRAFANA_USER={{ op://homelab/monitoring-stack/grafana_admin_user }}
HOMEPAGE_VAR_GRAFANA_PASSWORD={{ op://homelab/monitoring-stack/grafana_admin_password }}
