apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
  namespace: observability
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: silence-operator
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    alertmanagerAddress: http://alertmanager-operated.observability.svc.cluster.local:9093
    image:
      registry: quay.io
    networkPolicy:
      enabled: false
