DB_POSTGRESDB_USER={{ op://homelab/n8n/DB_USER }}
DB_POSTGRESDB_PASSWORD={{ op://homelab/n8n/DB_PASS }}
N8N_ENCRYPTION_KEY={{ op://homelab/n8n/ENCRYPTION_KEY }}
ANTHROPIC_API_KEY={{ op://homelab/anthropic/API_KEY }}
KOMODO_API_KEY={{ op://homelab/komodo/CLI_KEY }}
KOMODO_API_SECRET={{ op://homelab/komodo/CLI_SECRET }}
