apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: home-assistant
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-assistant-secret
    creationPolicy: Owner
  data:
    - secretKey: HASS_ENCRYPTION_KEY
      remoteRef:
        key: home-assistant
        property: HASS_ENCRYPTION_KEY
    - secretKey: HASS_HTTP_TRUSTED_PROXY_3
      remoteRef:
        key: home-assistant
        property: HASS_HTTP_TRUSTED_PROXY_3
