apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: autobrr-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: autobrr
