apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: autobrr-config
  namespace: media
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-replicated
