SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_TLS=off
SMTP_STARTTLS=on
SMTP_TLS_CHECKCERT=on
SMTP_AUTH=on
SMTP_USER=resend
SMTP_PASSWORD={{ op://homelab/smtp-relay/RESEND_RUNTIME_API_KEY }}
SMTP_DOMAIN=smtp-relay.in.hypyr.space
SMTP_FROM=system@tx.hypyr.space
SMTP_ALLOW_FROM_OVERRIDE=on
SMTP_SET_FROM_HEADER=auto
SMTP_SET_DATE_HEADER=auto
SMTP_REMOVE_BCC_HEADERS=on
