SMTP_HOST={{ op://homelab/smtp-relay/upstream_host }}
SMTP_PORT={{ op://homelab/smtp-relay/upstream_port }}
SMTP_TLS={{ op://homelab/smtp-relay/upstream_tls }}
SMTP_STARTTLS={{ op://homelab/smtp-relay/upstream_starttls }}
SMTP_TLS_CHECKCERT=on
SMTP_AUTH={{ op://homelab/smtp-relay/upstream_auth }}
SMTP_USER={{ op://homelab/smtp-relay/upstream_user }}
SMTP_PASSWORD={{ op://homelab/smtp-relay/upstream_password }}
SMTP_DOMAIN=smtp-relay.in.hypyr.space
SMTP_FROM={{ op://homelab/smtp-relay/from_address }}
SMTP_ALLOW_FROM_OVERRIDE=off
SMTP_SET_FROM_HEADER=on
SMTP_SET_DATE_HEADER=auto
SMTP_REMOVE_BCC_HEADERS=on
