SMTP_HOST={{ op://homelab/smtp-relay/SMTP_RELAY_SERVER }}
SMTP_PORT={{ op://homelab/smtp-relay/SMTP_PORT }}
SMTP_TLS=off
SMTP_STARTTLS=on
SMTP_TLS_CHECKCERT=on
SMTP_AUTH=on
SMTP_USER={{ op://homelab/smtp-relay/SMTP_RELAY_USERNAME }}
SMTP_PASSWORD={{ op://homelab/smtp-relay/SMTP_RELAY_PASSWORD }}
SMTP_DOMAIN=smtp-relay.in.hypyr.space
SMTP_FROM={{ op://homelab/smtp-relay/SMTP_RELAY_USERNAME }}
SMTP_ALLOW_FROM_OVERRIDE=off
SMTP_SET_FROM_HEADER=on
SMTP_SET_DATE_HEADER=auto
SMTP_REMOVE_BCC_HEADERS=on
